<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title> alceo solari </title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  

<body>
    
<div class="wrapper">
<header>
        
<h1> Alceo Solari  </h1>
<p> Nato a Pesariis nel 1941. <br>
Figlio di Alfeo Solari fa parte della VII ed ultima generazione degli orologiai Solari di Pesariis. 

</p>

</header>

<section>

      {{ content }}
      
      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  </body>
</html>
