<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title> alceo solari </title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  

<body>
    
<div class="wrapper">
<header>
        

<h1> Alceo Solari </a> </h1>
<p> Nasce a Pesariis nel 1941. 
Figlio di Alfeo Solari fa parte della 7°ed ultima generazione degli orologiai Solari di Pesariis. Si diploma al Malignani di Udine, specializzandosi poi in Germania e Svizzera. Diventa direttore tecnico della Fratelli Solari Spa dal 1964 al 1972. Dal 1972 al 1980 è direttore commerciale dell’Azienda. Riorganizza la rete commercial in Italia fondando ditte distributrici e fornitrici di servizi di assistenza tecnica per la linea di orologeria industriale. Durante la sua direzione I volume di vendita crescono di ben otto volte, con un ‘espansione in diversi paesi europei. Fino al 1976 è componente del Consiglo di Amministrazione e consigliere delegato dal 1973 al 1976.</p>

      </header>
      <section>


      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  </body>
</html>